<div class="container" style="margin-top:3em; min-height: 80vh;">
  <div class="columns is-centered">
    <form [formGroup]="loginForm" class="is-half column">

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="email" class="input" [class.is-danger]="email.errors" type="email" placeholder="Enter your email"
            autocomplete="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right" *ngIf="email.errors">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
          <span class="icon is-small is-right" *ngIf="!email.errors">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <p *ngIf="email.errors.required" class="help is-danger">Please enter a Email</p>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="password" class="input" [class.is-danger]="password.errors" autocomplete="current-password"
            type="password" placeholder="Choose a password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <span class="icon is-small is-right" *ngIf="password.errors">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
          <span class="icon is-small is-right" *ngIf="!password.errors">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <p *ngIf="password.errors.required" class="help is-danger">Please enter a password</p>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button (click)="tryLogin(loginForm.value)" class="button is-success">Signin</button>
        </div>
        <div class="control">
          <button class="button is-text" routerLink="/register">New to site? <a style="margin-left:.5em;">Signup</a></button>
        </div>
      </div>
    </form>
  </div>
</div>
